<?xml version="1.0" encoding="UTF-8"?>

<Root>
	<MenuItem>
		<Name>我的面板</Name>
		<Href>controllerpanel.html</Href>
		<IconClass>fa-tachometer</IconClass>
		<Leaf>false</Leaf>
		<SubMenuItems>
			<MenuItem>
				<Name>用户信息</Name>
				<Href>user</Href>
				<IconClass></IconClass>
				<Leaf>false</Leaf>
				<SubMenuItems>
					<MenuItem>
						<Name>修改密码</Name>
						<Href>page/user/password.html</Href>
						<IconClass>fa-key</IconClass>
						<Leaf>true</Leaf>
					</MenuItem>
					<MenuItem>
						<Name>修改详细信息</Name>
						<Href>page/user/updateSelf.html</Href>
						<IconClass>fa-info-circle</IconClass>
						<Leaf>true</Leaf>
					</MenuItem>
				</SubMenuItems>
			</MenuItem>
		</SubMenuItems>
	</MenuItem>
	<MenuItem>
		<Name>采购管理</Name>
		<Href>purchase.html</Href>
		<IconClass>fa-truck</IconClass>
		<Leaf>false</Leaf>
		<SubMenuItems>
			<MenuItem>
				<Name>采购订单管理</Name>
				<Href>purchase/list</Href>
				<IconClass></IconClass>
				<Leaf>false</Leaf>
				<SubMenuItems>
					<MenuItem>
						<Name>等待采购订单</Name>
						<Href>purchase/list/wait</Href>
						<IconClass>fa-key</IconClass>
						<Leaf>true</Leaf>
					</MenuItem>
					<MenuItem>
						<Name>已完成采购订单</Name>
						<Href>purchase/list/complete</Href>
						<IconClass>fa-info-circle</IconClass>
						<Leaf>true</Leaf>
					</MenuItem>
				</SubMenuItems>
			</MenuItem>
		</SubMenuItems>
	</MenuItem>
	<MenuItem>
		<Name>申请采购</Name>
		<Href>order.html</Href>
		<IconClass>fa-shopping-cart</IconClass>
		<Leaf>false</Leaf>
		<SubMenuItems>
			<MenuItem>
				<Name>申请订单管理</Name>
				<Href>order/list</Href>
				<IconClass></IconClass>
				<Leaf>false</Leaf>
				<SubMenuItems>
					<MenuItem>
						<Name>未完成订单</Name>
						<Href>order/list/wait</Href>
						<IconClass>fa-key</IconClass>
						<Leaf>true</Leaf>
					</MenuItem>
					<MenuItem>
						<Name>已完成订单</Name>
						<Href>order/list/complete</Href>
						<IconClass>fa-info-circle</IconClass>
						<Leaf>true</Leaf>
					</MenuItem>
				</SubMenuItems>
			</MenuItem>
		</SubMenuItems>
	</MenuItem>
	<MenuItem>
		<Name>商品管理</Name>
		<Href>product.html</Href>
		<IconClass>fa-archive</IconClass>
		<Leaf>false</Leaf>
		<SubMenuItems>
			<MenuItem>
				<Name>商品类型管理</Name>
				<Href>catagorys</Href>
				<IconClass></IconClass>
				<Leaf>false</Leaf>
				<SubMenuItems>
					<MenuItem>
						<Name>商品类型</Name>
						<Href>catatory/list</Href>
						<IconClass>fa-key</IconClass>
						<Leaf>true</Leaf>
					</MenuItem>
					<MenuItem>
						<Name>单位字典</Name>
						<Href>catatory/dirc</Href>
						<IconClass>fa-info-circle</IconClass>
						<Leaf>true</Leaf>
					</MenuItem>
				</SubMenuItems>
			</MenuItem>
			<MenuItem>
				<Name>商品管理</Name>
				<Href>products</Href>
				<IconClass></IconClass>
				<Leaf>false</Leaf>
				<SubMenuItems>
					<MenuItem>
						<Name>商品信息</Name>
						<Href>product/productlist.html</Href>
						<IconClass>fa-key</IconClass>
						<Leaf>true</Leaf>
					</MenuItem>
				</SubMenuItems>
			</MenuItem>
		</SubMenuItems>
	</MenuItem>
	<MenuItem>
		<Name>报表管理</Name>
		<Href>report.html</Href>
		<IconClass>fa-bar-chart-o</IconClass>
		<Leaf>false</Leaf>
		<SubMenuItems>
			<MenuItem>
				<Name>用户信息</Name>
				<Href>users</Href>
				<IconClass></IconClass>
				<Leaf>false</Leaf>
				<SubMenuItems>
					<MenuItem>
						<Name>查询用户</Name>
						<Href>user/userlist.html</Href>
						<IconClass>fa-key</IconClass>
						<Leaf>true</Leaf>
					</MenuItem>
				</SubMenuItems>
			</MenuItem>
		</SubMenuItems>
	</MenuItem>
	<MenuItem>
		<Name>用户管理</Name>
		<Href>customer.html</Href>
		<IconClass>fa-user</IconClass>
		<Leaf>false</Leaf>
		<SubMenuItems>
			<MenuItem>
				<Name>用户信息</Name>
				<Href>users</Href>
				<IconClass></IconClass>
				<Leaf>false</Leaf>
				<SubMenuItems>
					<MenuItem>
						<Name>查询列表</Name>
						<Href>page/user/userlist.html</Href>
						<IconClass>fa-key</IconClass>
						<Leaf>true</Leaf>
					</MenuItem>
				</SubMenuItems>
			</MenuItem>
		</SubMenuItems>
	</MenuItem>
	<MenuItem>
		<Name>测试专用</Name>
		<Href>test/testmain.html</Href>
		<IconClass>fa-user</IconClass>
		<Leaf>false</Leaf>
		<SubMenuItems>
			<MenuItem>
				<Name>测试成功</Name>
				<Href>test/loadSuccess.html</Href>
				<IconClass>fa-key</IconClass>
				<Leaf>true</Leaf>
			</MenuItem>
			<MenuItem>
				<Name>测试失败</Name>
				<Href>test/loadError.html</Href>
				<IconClass>fa-key</IconClass>
				<Leaf>true</Leaf>
			</MenuItem>
		</SubMenuItems>
	</MenuItem>
</Root>

